@counter-style fruit {
  system: cyclic;
  symbols:
"🍇" "🍈" "🍉" "🍊" "🍋" "🍋‍🟩" "🍌" "🍍" "🥭" "🍎" "🍏" "🍐" "🍑" "🍒" "🍓" "🫐" "🥝" "🍅" "🫒" "🥥";
  suffix: "";
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --gap: 0.5em;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;

  color: var(--light);
  background-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS */

body {
div.buttons {
  display: flex;
  justify-content: space-between;
}

div.buttons button {
  flex: 1
}

div.buttons .primary {
  margin-left: 0.5em;
  flex: 2
}


button,
.button {
  border: 1px outset var(--mid);
  border-radius: var(--gap);
  padding: var(--gap);
}

button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #fff;
}

button:hover:active,
.button:hover:active {
  border-style: inset;
  background-color: #000;
}

button.pressed,
.button.pressed {
  color: #fff;
  border-style: inset;
  background-color: #000;
}

button.primary,
.button.primary {
  background-color: var(--primary);
  border-color: var(--primary-border);
}

button.primary:active:hover,
.button.primary:active:hover {
  background-color: var(--primary-active);
}
}

:root {
  /* The drum will rotate, starting at an angle of 0.
   * An animation will change this value.
   */
  --angle: 0;

  /* How many symbols are there in the counter style? */
  --total: 20;
  /* How what angle does each li cover around a full circle? */
  --arc: calc(360 / var(--total));
  /* Ignore completed whole rotations */
  --trim: mod(var(--angle), 360);
  /* If each symbol is in a position from 0 <= place < 20,
   * where is the first symbol now?
   */
  --place: calc(var(--trim) / var(--arc));
  /* What fraction of a symbol size has it moved past the last
   * resting symbol position?
   */
  --fraction: mod(var(--place), 1);
  /* How many complete symbol positions has it moved? */
  --turn:  calc(var(--place) - var(--fraction));
  /* What angle of rotation does this fraction represent? */
  --twist: calc(var(--fraction) * var(--arc));
  /* What index number should the list start with, in order to
   * push the first symbol into its --turn position?
   */
  --first: mod(
    calc(var(--total) - var(--turn)), var(--total)
  );

  --size: 6vh;
  --half: calc(0.4 * var(--size)); /* include kludge value */
  --girth: calc(var(--total) * var(--size) * 1.5);
  --diameter: calc(var(--girth) / 3.1415962);
  --radius: calc(var(--diameter) / 2);
  --shift: calc(var(--radius) - var(--half));
  --reel: linear-gradient(0deg, #0006 0%, #fff 50%, #0006 100%);
  --shadow: linear-gradient(0deg, #0009 0%, #fff0 50%, #0009 100%);
}


ol {
  position: relative;
  margin: 0;
  height: var(--diameter);
  width: var(--size);
  background: var(--reel);

  counter-set: index var(--first);

  /* Place a shadow gradient over the list items */
  &::after {
    content: "_";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0000;
    background: var(--shadow);
  }

  li {
    position: absolute;
    left: 0;
    top: var(--shift);
    counter-increment: index;

    transform-origin: 0 50% var(--radius);
  }

  li:nth-child(1) {
    transform:
      rotateX(-72deg)
  }

  li:nth-child(2) {
    transform:
      rotateX(-54deg)
  }

  li:nth-child(3) {
    transform:
      rotateX(-36deg)
  }

  li:nth-child(4) {
    transform:
      rotateX(-18deg)
  }

  li:nth-child(5) {
    transform:
      rotateX(0deg)
  }

  li:nth-child(6) {
    transform:
      rotateX(18deg)
  }

  li:nth-child(7) {
    transform:
      rotateX(36deg)
  }

  li:nth-child(8) {
    transform:
      rotateX(54deg)
  }

  li:nth-child(9) {
    transform:
      rotateX(72deg)
  }

  li:nth-child(10) {
    transform:
      rotateX(90deg)
  }

  li::before {
    content: counter(index, fruit);
    font-size: var(--size);
    position: absolute;
    transform: translateX(40%);
  }
}

pre.angle {
  counter-set: angle var(--angle);
  &::after {
    content: "≅" counter(angle);
  }
}

pre.total {
  counter-set: total var(--total);
  &::after {
    content: counter(total);
  }
}

pre.arc {
  counter-set: arc var(--arc);
  &::after {
    content: counter(arc);
  }
}

pre.trim {
  counter-set: trim calc(var(--trim) * 100);
  &::after {
    content: counter(trim) "/100";
  }
}

pre.place {
  counter-set: place calc(var(--place) * 100);
  &::after {
    content: counter(place) "/100";
  }
}

pre.fraction {
  counter-set: fraction calc(var(--fraction) * 100);
  &::after {
    content: counter(fraction) "/100";
  }
}

pre.turn {
  counter-set: turn var(--turn);
  &::after {
    content: counter(turn);
  }
}

pre.twist {
  counter-set: twist calc(var(--twist) * 100);
  &::after {
    content: counter(twist) "/100";
  }
}

pre.first {
  counter-set: first var(--first);
  &::after {
    content: counter(first);
  }
}